*~
build
MANIFEST
dist
.pytest_cache/
*.pyc
*_flymake*
.coverage
htmlcov/
*.1
.ropeproject
.sconsign.dblite
doc/
*.yml
*.sqlite3
*.rec
*.pst
*.par
*.res
*.rsr
*.drf
*.rei
*.cnd
*.jac
*.jco
*.jst
*.mtt
*.sen
*.seo
*.dat
*.ins
*.obf
*.tpl
*.sh
/data/leuven/324/vsc32460/AC/spowtd/FIG/
